{% extends "base.html" %}

{% block content %}
<h2>Gastos</h2>
<a href="{{ url_for('add_expense') }}" class="btn btn-primary">Agregar Gasto</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[0] }}</td>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
