{% extends "base.html" %}

{% block content %}
<h1 class="mb-4">Welcome to the Inventory Management System</h1>
<a href="{{ url_for('inventory') }}" class="btn btn-primary mb-3">Go to Products</a>
<a href="{{ url_for('clients') }}" class="btn btn-secondary mb-3">Go to Clients</a>
<a href="{{ url_for('orders') }}" class="btn btn-success mb-3">Go to Orders</a>
<a href="{{ url_for('expenses') }}" class="btn btn-danger mb-3">Go to Expenses</a>
<a href="{{ url_for('reports') }}" class="btn btn-info mb-3">Go to Reports</a>
{% endblock %}
